@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.theme-toggle-dark {
  filter: drop-shadow(0 0 1em rgba(255, 204, 103, 0.5));
}

.theme-toggle-dark {
  filter: drop-shadow(0 0 1em rgba(255, 57, 119, 0.5));
}

.glow {
  animation: blink 12s infinite;
}

.jukebox-glow {
  animation: jukebox 6s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    filter: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    filter: drop-shadow(0 -0.25em 1em rgba(255, 204, 103, 0.5));
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    filter: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    filter: drop-shadow(0 -0.25em 1em rgba(255, 204, 103, 0.5));
  }
}

@-webkit-keyframes jukebox {
  33% {
    filter: drop-shadow(0 0 12px rgb(116, 241, 170));
  }
  66% {
    filter: drop-shadow(0 0 12px rgb(246, 73, 116));
  }
  0%,
  100% {
    filter: drop-shadow(0 0 12px rgb(246, 202, 109));
  }
}

@keyframes jukebox {
  33% {
    filter: drop-shadow(0 0 12px rgb(116, 241, 170));
  }
  66% {
    filter: drop-shadow(0 0 12px rgb(246, 73, 116));
  }
  0%,
  100% {
    filter: drop-shadow(0 0 12px rgb(246, 202, 109));
  }
}
=======
>>>>>>> main
